.container4{
    background-color: rgb(172, 141, 58);
    height: 165px;
}
.row4{
    padding: 70px 0;
    text-align: center;
  }

.nav-links1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: Times, Times New Roman, Georgia, serif;
  }
  
  .nav-links1:hover {
    background-color:transparent;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    color:white;
  }

  /*.row4{
    
  }
*/